*{
  margin:0;
  padding:0;
  text-decoration: none;
}

.container {
  display: flex;

}

main {
  width:100%;
  padding:20px;
}

.sidebar{
  background: #202c70;
  color: #74a1eb;
  height:100vh;
  width:300px;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;

}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo{
  font-size: 30px;

}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link{
  display: flex;
  color:white;
  padding: 10px 15px;
  gap: 15px;
  transition:  all 0.5s;
}

.link:hover{
  background:#7d808f;
  color:#74a1eb;
  transition: all 0.5s;
}

.active{
  background:#7d808f;
  color:#74a1eb;
}

.icon, .link_text{
  font-size: 20px;
}