@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600&display=swap');






body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  min-height: 100vh;
}



.container {
  display: flex;

}
.forms{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 margin: 20px;
 display: flex;
 align-self: center;
 background-color: #8B22A1;
}
/* <!-- HTML !-->
<button class="button-30" role="button">Button 30</button> */

/* CSS */
#tasks{
  align-items: center;
  background-color: #C90C7E;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;

  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
input,textarea {
  align-items: center;
  margin: 20px;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

input:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

input:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

input:active {
  box-shadow: #8585dd 0 3px 7px inset;
  transform: translateY(2px);
}
main {
  width:100%;
 
}

.sidebar{
  background: #202c70;
  color: #74a1eb;
  height:100vh;
  width:300px;
  border-top-right-radius: 15%;
  border-bottom-right-radius: 15%;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo{
  font-size: 30px;

}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link{
  display: flex;
  color:white;
  padding: 10px 15px;
  gap: 15px;
  transition:  all 0.5s;
}

.link:hover{
  background:#7d808f;
  color:#74a1eb;
  transition: all 0.5s;
}

.active{
  background:#7d808f;
  color:#74a1eb;
}

.icon, .link_text{
  font-size: 20px;
}